In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [4]:
weburl = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
data = pd.read_csv(weburl)
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [37]:
data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

QUESTION 1

In [6]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [7]:
A_B= A.extend(B)
A_B = A

In [8]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

QUESTION 2

In [9]:
np.identity(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

QUESTION 3

In [10]:
lowest_average = data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

In [11]:
print(lowest_average.min())
lowest_average

13.659396569737135

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

QUESTION 4

In [12]:
data[['fuel_mmbtu_per_unit']].describe(include='all')
# the standard deviation value is on index location 2
# the 75th percentile value is on index location 6

       fuel_mmbtu_per_unit
count         29523.000000
mean              8.492111
std              10.600220
min               0.000001
25%               1.024000
50%               5.762694
75%              17.006000
max             341.260000

In [13]:
standard_deviation = np.round(data[['fuel_mmbtu_per_unit']].describe(include='all').iloc[2, 0], 2)
seventy_fifth_percentile = np.round(data[['fuel_mmbtu_per_unit']].describe(include='all').iloc[6, 0], 2)
standard_deviation , seventy_fifth_percentile

(10.6, 17.01)

QUESTION 5

In [22]:
skew_kurtoise = data.fuel_qty_burned

kurtosis = pd.DataFrame(skew_kurtoise).kurtosis()[0]
skew = pd.DataFrame(skew_kurtoise).skew()[0]

kurtosis, skew

(651.3694501337732, 15.851495469109503)

QUESTION 6

In [23]:
data.isnull().any() # at index location 5

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [24]:
data.isnull().any().iloc[5]

True

In [25]:
total = data[['fuel_unit']].isnull().sum()
print(total)
total[0]

fuel_unit    180
dtype: int64

180

In [26]:
percentage = (total[0]/len(data.fuel_unit)) * 100
percentage

0.609694136774718

QUESTION 7

In [27]:
percent_change_df = data.groupby('report_year').sum()
percent_change_df.head()

,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,
1994,131059,3.364163e+09,13138.051620,263292.115,7.859053e+04,3812.41711
1995,132277,4.458192e+09,12784.441067,425661.488,3.931506e+04,3445.47398
1996,118281,2.768693e+09,11726.508078,86425.275,1.000602e+07,2933.11773
1997,118553,3.077973e+09,11210.909740,163533.452,1.218738e+07,3406.15391
1998,121599,3.617070e+09,11850.394701,140238.656,3.178799e+05,3072.87907

In [28]:
fuel_cost_1994 = percent_change_df.loc[1994, 'fuel_cost_per_unit_burned']
fuel_cost_1998 = percent_change_df.loc[1998, 'fuel_cost_per_unit_burned']

fuel_cost_1994, fuel_cost_1998

(263292.1150000001, 140238.6560000001)

In [29]:
fuel_cost_percent_change = ((fuel_cost_1998 - fuel_cost_1994)/fuel_cost_1994) * 100
fuel_cost_percent_change # answer is none of the above

-46.73647708743574

QUESTION 8

In [30]:
fuel_cost_per_unit_delivered_df = data.groupby('report_year').sum()[['fuel_cost_per_unit_delivered']]
fuel_cost_per_unit_delivered_df.head()

             fuel_cost_per_unit_delivered
report_year
1994                         7.859053e+04
1995                         3.931506e+04
1996                         1.000602e+07
1997                         1.218738e+07
1998                         3.178799e+05

In [31]:
fuel_cost_per_unit_delivered_df.max()[0]  #this is the highest value

12187375.780000014

In [32]:
sorted(zip(fuel_cost_per_unit_delivered_df.values, fuel_cost_per_unit_delivered_df.index), reverse = True)[0]
# the year is 1997

(array([12187375.78000001]), 1997)

In [33]:
highest_year = sorted(zip(fuel_cost_per_unit_delivered_df.values, fuel_cost_per_unit_delivered_df.index), reverse = True)[0][1]
highest_year

1997

QUESTION 8

In [34]:
correlation_df = data.corr()
correlation_df.head()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437

In [35]:
sorted(correlation_df.loc['fuel_cost_per_unit_burned'])[1:3]

correlation_df.iloc[4,2], correlation_df.iloc[4,3]

(-0.018535416794825232, -0.010033808428852969)